{% extends 'base.html' %}

{% block content %}
<div class="center-box">
    <div class="card p-4">
        <h3 class="text-center"><i class="fa-solid fa-user-plus"></i> Register</h3>

        <form method="POST">
            <input class="form-control mb-2" name="name" placeholder="Full Name">
            <input class="form-control mb-2" name="email" placeholder="Email">
            <input class="form-control mb-2" type="password" name="password" placeholder="Password">

            <select class="form-control mb-2" name="role">
                <option value="child">Child</option>
                <option value="parent">Parent</option>
                <option value="admin">Admin</option>
            </select>

            <button class="btn btn-success w-100">Register</button>
        </form>
    </div>
</div>
{% endblock %}